.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  height: 100%;
}

body {
  background-color: #f9f8f4;
  color: #181818;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: #181818;
}

a:hover {
  color: #745037;
}

div#banner {
  height: 200px;
}

div#shows-container, div.home {
  background-color: white;
  padding: 2em;
  flex: 1 0 auto;
}

div#navbar {
  text-align: left;
}

div#navbar a {
  text-decoration: none;
}

div#navbar ul {
  margin: 0.5em;
}

div#navbar li {
  display: inline-block;
  margin: 0 1em;
}

div#navbar li#logo a {
  font-size: 2em;
  font-weight: 300;
  margin: 0 5em 0 5em;
  text-decoration: none;
}

div#navbar li#logo span.bold {
  margin: 0;
  font-weight: bolder;
}

li {
  list-style: none;
}


/* Footer */

div#footer {
  background-color: #f9f8f4;
  position: absolute;
  bottom: 0;
  justify-content: center;
  width: 100%
}

div#footer h5, span {
  margin: 2em;
  display: inline-block;
}

div#footer table {
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 0 15px;
}
/* Login */

div#login {
  width: 250px;
  margin: 14px 6px 0 0;
  font-family: "Merriweather", "Georgia", serif;
  float: right;
  position: sticky;
  padding: 24px;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 10px;
  text-align: center;
}

button#auth {
  background: #382110;
  color: white;
  border-radius: 3px;
  padding: 8px 12px;
  min-width: 200px;
  margin: 0.5em;
}

button#auth:hover {
  background: #745037;
}

button#google {
  background: white;
  color: #382110;
  border-radius: 3px;
  padding: 8px 12px;
  min-width: 200px;
  margin: 0.5em;
}

div.user-form {
  background: white;
  text-align: center;
  border-radius: 4px;
  margin: 3em;
  padding: 2em;
}

div.user-form h3 {
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
}

div.user-form input {
  margin: 0.5em;
  padding: 0.5em;
}

div.user-form button {
  background: #F4F1EA;
  border-radius: 3px;
  display: inline-block;
  min-width: 200px;
}

/* Home page */

div.home {
  flex: 1 0 auto;
}

div.box-left {
  float: left;
  width: 50%;
}

div.box-right {
  float: right;
  margin-left: 50%;
}